In [1]:
testVal = "Hello World PRAM";

In [2]:
print(testVal);

Hello World PRAM

In [3]:
%quickref

In [11]:
%time

Wall time: 0 ns

In [12]:
import pandas as pd

In [17]:
df = pd.read_csv("../datasets/titanic.csv");

In [19]:
df.describe()

        Unnamed: 0
count  1316.000000
mean    658.500000
std     380.040787
min       1.000000
25%     329.750000
50%     658.500000
75%     987.250000
max    1316.000000